Django==6.0.7
djangorestframework
qrcode
Pillow==12.3.0
django-betterforms==1.2
django-ckeditor==5.9.0
django-crispy-forms==1.9.1
django-js-asset==1.2.2
django-mapbox-location-field==1.5.0
python-dateutil==2.8.1
pytz
six
sqlparse
dnspython
google-genai
python-dotenv