{% extends "base.html" %}

{% block title %}Create Category{% endblock %}

{% block content %}

<div class="form-page">

    <div class="page-heading">
        <h1>Create Category</h1>

        <div class="breadcrumb">
            <a href="{% url 'home' %}">Home</a> /
            Create Category
        </div>
    </div>

    <div class="form-card">

        <div class="form-card-header">

            <h2>Create Event Category</h2>

            <a href="{% url 'category_list' %}" class="primary-btn">
                Category List
            </a>

        </div>

        <form method="POST" enctype="multipart/form-data">

            {% csrf_token %}

            <div class="form-group">
                <label>Category Name</label>
                <input type="text"
                       name="category_name"
                       placeholder="Enter Category Name"
                       required>
            </div>

            <div class="form-group">
                <label>Category Code</label>
                <input type="text"
                       name="category_code"
                       placeholder="Enter Category Code"
                       required>
            </div>

            <div class="form-group">
                <label>Category Image</label>
                <input type="file"
                       name="category_image">
            </div>

            <div class="form-group">
                <label>Priority</label>
                <input type="number"
                       name="priority"
                       placeholder="Enter Priority">
            </div>

            <div class="form-group">

                <label>Status</label>

                <select name="status">

                    <option value="Active">Active</option>

                    <option value="Inactive">Inactive</option>

                </select>

            </div>

            <button type="submit"
                    class="form-submit-btn">

                Create Category

            </button>

        </form>

    </div>

</div>

{% endblock %}
